<div class="pandawrapper">
  <div class="arrow"><a class="arrow-down" href="#scroll"></a></div>
  <div class="exchangetitle">Exchanges</div>
  <div class="buttons">
  
  <div class="exchangebutton"><a href="https://xeggex.com/" target="_blank"><img src="assets/img/xeggex.png" alt="xeggex"></a></div>
  <div class="exchangebutton"><a href="https://tradeogre.com/markets" target="_blank"><img src="assets/img/tradeogre.png" alt="tradeogre"></a></div>
  <div class="exchangebutton"><a href="https://www.exbitron.com/" target="_blank"><img src="assets/img/exbitron.png" alt="exbitron"></a></div>
  </div>
  <div class="trackertitle">Trackers</div>
  <div class="logodeck">
    
  <div class="trackerlogo"><a href="https://blockspot.io/coin/pandanite/" target="_blank"><img src="assets/img/blockspot.png" alt="blockspot.io"></a></div>
  <div class="trackerlogo"><a href="https://nomics.com/assets/bmb3-pandanite" target="_blank"><img src="assets/img/nomics.png" alt="nomics"></a></div>
  <div class="trackerlogo"><a href="https://coincodex.com/crypto/bamboo-bmb/" target="_blank"><img src="assets/img/coincodex.png" alt="coincodex"></a></div>
  <div class="trackerlogo"><a href="https://coinpaprika.com/coin/pdn-pandanite/" target="_blank"><img src="assets/img/coinpaprika.png" alt="coinpaprika"></a></div>
  <div class="trackerlogo"><a href="https://www.livecoinwatch.com/price/Pandanite-PDN" target="_blank"><img src="assets/img/livecoinwatch.png" alt="livecoinwatch.io"></a></div>
  </div>
  <div class="pandatitle">
    <h1>Simple and elegant ASIC resistant blockchain</h1>
  </div>
  <div class="testwrap">
    <p class="bdescription">Pandanite is designed with utmost simplicity, performance, and user-friendliness in mind and is 100% written from scratch in C++… it’s not just another boring fork or rebranding of an existing crypto project. Pandanite is GPU and ASIC resistant by leveraging the memory hard hash function
      <a href="https://github.com/epixoip/pufferfish">Pufferfish 2.</a>
    </p>
    <h2>Implementation:</h2>
    <p>
      Pandanite is written in less than 6K lines of code (Bitcoin has >100K). There are a few optimizations that we have made to help further our core objectives:
    </p>
    <ul>
      <li>Switched encryption scheme from secp256k1 (which is used by ETH and BTC) to ED25519 – results in 8x speedup during transaction verification and public keys half the size (32 bytes).
      </li>
      <li>25,000 transactions per block
      </li>
      <li>90 second block time
      </li>
      <li>ASIC resistant PUFFERFISH2 proof of work algorithm</li>
    </ul>
    <h2>Core objectives</h2>
    <p>
    Pandanite coin is intended to do as few things as possible and to do them incredibly well – it is a store of value coin that:
    </p>
    <ul><li>Maintains account balances for billions of users.</li>
    <li>Provides extremely fast transactions between these accounts.</li>
    <li> Runs on low-cost hardware.</li>
    </ul>    
    <p>That’s it. We don’t aim to solve everything. We desire to keep the code simple.</p>
    </p>
    <h2>Circulation</h2>
    <p>Pandanite is minted by miners who earn rewards. Mining payments occur using the thwothirding algorithm, which yields a total final circulation of ~100M PDN:</p>
    <ul>
      <li>550 PDN per block until block 666666
     </li>
      <li>50*(2/3) PDN per block from blocks 666667 to 2*666666 </li>
      <li>50*(2/3)^2 PDN per block from blocks 2*66666+1 to 3*666666 etc.</li>
    </ul>
    <h2>Encryption scheme</h2>
    <p>A key design objective of Pandanite is low compute usage while maintaining a high number of transactions per second. To reach these performance goals Pandanite uses an alternative digital signature system known as ED25519 as a replacement for Bitcoin and Ethereum’s secp256k1. ED25519 has several attractive properties for crypto-currency use cases:</p>
    <ul>
      <li>Fast signature verification</li>
      <li>Batch signature verification</li>
      <li>Fast signing</li>
      <li>Small public keys</li>
      <li>Performant on low-cost IoT devices</li>
    </ul>
  </div>
</div>
